<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        <Property name="REQUEST_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="AppLogAppender" fileName="logs/app.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="JmsLogAppender" fileName="logs/jms.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="ControllerAdviceAppender" fileName="logs/controller_advice.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="RequestResponseLog" fileName="logs/request_response.log">
            <PatternLayout pattern="${REQUEST_PATTERN}"/>
        </File>
    </Appenders>
    <Loggers>

        <Logger name="by.marshallbaby.jms" level="info">
            <AppenderRef ref="JmsLogAppender"/>
        </Logger>

        <Logger name="by.marshallbaby.controller-advice-logger" level="info" additivity="false">
            <AppenderRef ref="ControllerAdviceAppender"/>
        </Logger>

        <Logger name="by.marshallbaby.request-logger" level="info" additivity="false">
            <AppenderRef ref="RequestResponseLog"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="AppLogAppender" level="warn"/>
        </Root>
    </Loggers>
</Configuration>