<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Godel Employee RESTFul App</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
      <h1 class="title">Godel Employee RESTFul App</h1>
      <div class="switch-container">
         <div onclick="switchHandler(0)" id="addBtn" class="switch">
            <p>Add</p>
         </div>
         <div onclick="switchHandler(1)" id="editBtn" class="switch">
            <p>Edit<br>(Search)</p>
         </div>
         <div onclick="switchHandler(2)" id="removeBtn" class="switch">
            <p>Remove</p>
         </div>
         <div onclick="switchHandler(3)" id="searchBtn" class="switch">
            <p>All</p>
         </div>
      </div>

      <section class="add-form">
        <div class="field edit-field remove-field">
          <p>Employee ID</p>
          <input type="number" id="add-employee-id" value="">
        </div>
          <div class="field add-field edit-field remove-field">
            <p>First name</p>
            <input type="text" id="add-first-name" value="">
          </div>
          <div class="field add-field edit-field remove-field">
            <p>Last name</p>
            <input type="text" id="add-last-name" value="">
          </div>
          <div class="field add-field edit-field">
            <p>Dep ID</p>
            <input type="number" id="add-dep-id" value="">
          </div>
          <div class="field add-field edit-field">
            <p>Job Tag</p>
            <input type="text" id="add-job-tag" value="">
          </div>

          <div class="field add-field edit-field">
            <p>Gender</p>
            <select id="add-gender" class="gender" name="select">
              <option value="MALE"> Male </option>
              <option value="FEMALE" selected> Female </option>
            </select>
          </div>

          <div id="search-table" class="field search-field">

          </div>

          </section>

          <div class="confirm-area">
            <div onclick="sendRequest()" id="confirm-button">
              Go
            </div>
            <p id="confirm-message" class="display-none"></p>
          </div>
      </div>

    <script type="text/javascript" th:src="@{/script/requests.js}"></script>
    <script type="text/javascript" th:src="@{/script/switchHandler.js}"></script>
    <script type="text/javascript" th:src="@{/script/clearInputs.js}"></script>
    <script type="text/javascript" th:src="@{/script/btnColorRemove.js}"></script>
    <script type="text/javascript" th:src="@{/script/script.js}"></script>
</body>
</html>
